@import '../../../util';

.NoteContent{
    padding: 10px;
    .NoteContent__infoWrapper{
        margin-bottom: 10px;
        .NoteContent__infoTime{
            font-size:10px;
            color: $secondaryTextColor;
        }
        .NoteContent__title{
            background-color: $primaryColor;
            color: $textColor;
            border: 0;
            padding: 0;
            font-size: 16px;
            margin-bottom: 2px;
            &:focus-visible{
                outline: 0
            }
        }
        .NoteContent__icons{
            .NoteContent__icon{
                margin-left: 3px;
                border-radius: 50%;
                background-color: $secondaryColor;
                width:30px;
                height: 30px;
                svg{
                    width: 20px;
                    height: 20px;
                }
                &:hover{
                    outline: 1px solid $grayColor;
                }
            }
        }
    }
    .NoteContent__content{
        width: 98%;
        margin-top: 8px;
        background-color: $primaryColor;
        color: $textColor;
        border: 0;
        resize: none;
        &:focus-visible{
            outline: 0
        }
    }
}