@import "../../../util";

.StrategyManager{
    .StrategyManager__input{
        padding: 1rem;
    }
    .StrategyManagerList__nav{
        padding: 5px;
        border-right: 1px solid $grayColor;
        div{
            padding: 12px 16px;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            cursor: pointer;
            &:hover, &.active{
                background-color: $thirdColor;
            }
        }
    }
    .StrategyManagerItems{
        padding: 5px;
        top: 0;
        left: calc(30% + 7px);
        bottom: 7px;
        right: 0px;
    }
}