.StrategyManager__input{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}
.StrategyManagerItems{
    margin: 5px;
    overflow-y: auto;
    height: 71%;
}