@import '../../../util';
.NotesNav__search{
    padding: 6px 8px;
    border-bottom: 1px solid $grayColor;
}
.NotesItems__wrapper{
    .NotesItems{
        left: 0; 
        top: 0; 
        right: 0; 
        bottom: 0;
    }
}