@import "../../../../util";

.StockdataItems__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    border-radius: 10px !important;
    padding: 0.25rem;
    cursor: pointer;
    div{
        flex:0.3;
    }
    &:hover{
        background: rgba(0, 0, 0, 0.04) !important
    }
    .StockdataItems__itemActions{
        text-align: right;
        svg:hover{
            color: $grayColor !important;
        }
        .StockdataItems__itemDeleteIcon{
            color: red !important;
        }
    }
}