@import '../../../util';

.SaveStrategy{
    max-width: 400px !important;
    max-height: 350px !important;
    .SaveStrategy__info{
        padding: 1rem;
    }
    .SaveStrategy__Row{
        input[type="text"], input[type='number']{
            margin: 9px 11px 9px 0px;
            padding: 5px;
            color: $textColor;
            border-radius: 0.25rem;
            border: 1px solid $textColor;
        }
        .SaveStrategy__label{
            min-width: 90px;
            line-height: 53px;
        }
    }
}