@import '../../../util';

.StockdataManager__input{
    padding: 1rem;
}
.TimeframeSelect{
    color: $textColor !important;
}
.StockdataManager__stockData{
    height: 71%;
    margin: 5px;
}
.StockdataManager__stockIcon:hover{
    color: $grayColor !important;
}

.StockdataManager__stockIcon.delete{
    color: red
}
