@import '../../../util';

.StockdataManager__input{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}
.subDivider{
    background-color: $grayColor;
    height: 1px;
    border: 0;
}
.TimeframeSelect{
    color: $textColor !important;
}
.StockdataManager__stockData{
    height: 71%;
    overflow-y: auto;
    margin: 5px;
}
.StockdataManager__stockIcon:hover{
    cursor: pointer;
    color: $grayColor !important;
}

.StockdataManager__stockIcon.delete{
    color: red
}
