@import "../../util";

.BacktestPanel__header{
    background-color: $secondaryColor;
    margin: 2px;
    .BacktestPanel__nav{
        padding: 6px 8px;
        &.active{
            color: #1976d2;
        }
    }

}