.InputPanel{
    display: flex;
    flex-direction: column;
    .InputPanel__header{
        padding: 6px 8px;
    }
    .InputPanel__placeholder{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}