#BokehPlot{
    position:relative;
    &>div{
        position: absolute !important; // hide multiple plots if exists
    }
}
.Chart{
    height:100%;
    .Chart__loading{
        height: 100%;
    }
}
