$transitionTime: 0.4s;

.Toasts{
    position: fixed;
    top: 10px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1301;
    .Toast{
        box-shadow: 0 0 10px rgba(0,0,0, 0.3);
        border-radius: 10px;
        margin-bottom: 10px;
        animation: SlideDown $transitionTime;
        animation-fill-mode: forwards;
        background-color: #fff;
        color: black;
        .Toast__content{
            padding: 10px;
        }
        .Toast__bar{
            height: 3px;
            &.error{
                background-color: red;
            }
            &.success{
                background-color: green;
            }
            &.warning{
                background-color: #ffcc00;
            }
        }
        &.exit{
            animation: SlideUp $transitionTime;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes SlideDown {
    0% {
        margin-top: -120%;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes SlideUp {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -120%;
    }
}
