@import "../../util";

.TesterPanel{
    display: flex;
    flex-direction: column;
}
.TesterPanel__header{
    display: flex;
    align-items: center;
    svg{
        fill: $secondaryTextColor;
        height: 20px;
    }
}